.tools {
  width: 30%;
  background: rgb(234, 234, 234);
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.main {
  display: flex;
  width: 100%;
}

.email {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}
